Student Feedback Sentiment Analyzer/Student Feedback Sentiment Analyzer v1.json
{
  "name": "Student Feedback Sentiment Analyzer v1",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.trim() }}",
                    "rightValue": "Positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a22e2159-650c-4b4d-842d-3877f30e52c5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8fd82468-6a94-4c8b-821a-65cd1edaf8a5",
                    "leftValue": "={{ $json.text.trim() }}",
                    "rightValue": "Neutral",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a0aac794-781d-49fa-915a-18f24788ab8e",
                    "leftValue": "={{ $json.text.trim() }}",
                    "rightValue": "Negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        576,
        -144
      ],
      "id": "053f26af-2c53-4a2e-97af-4b56f4097ccf",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4",
          "mode": "list",
          "cachedResultName": "Student Feedback Sentiment Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Form Submission').item.json.Name || $('Form Submission').item.json.name }}",
            "email": "={{ $('Form Submission').item.json.Email || $('Form Submission').item.json.email }}",
            "feedback": "={{ $('Form Submission').item.json.Feedback || $('Form Submission').item.json.feedback }}",
            "sentiment": "Positive",
            "submitted_at": "={{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}",
            "dedupe_key": "={{ ($('Form Submission').item.json.Email || $('Form Submission').item.json.email).toLowerCase().trim() + '_' + ($('Form Submission').item.json.Feedback || $('Form Submission').item.json.feedback).toLowerCase().trim() }}"
          },
          "matchingColumns": [
            "dedupe_key"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -320
      ],
      "id": "44cf6013-fd44-498f-8a13-3037a8d0c586",
      "name": "Positive Feedback Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Nu0boBbF5KmAuk96",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4",
          "mode": "list",
          "cachedResultName": "Student Feedback Sentiment Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Form Submission').item.json.Name || $('Form Submission').item.json.name }}",
            "email": "={{ $('Form Submission').item.json.Email || $('Form Submission').item.json.email }}",
            "feedback": "={{ $('Form Submission').item.json.Feedback || $('Form Submission').item.json.feedback }}",
            "sentiment": "Neutral",
            "submitted_at": "={{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}",
            "dedupe_key": "={{ ($('Form Submission').item.json.Email || $('Form Submission').item.json.email).toLowerCase().trim() + '_' + ($('Form Submission').item.json.Feedback || $('Form Submission').item.json.feedback).toLowerCase().trim() }}"
          },
          "matchingColumns": [
            "dedupe_key"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -128
      ],
      "id": "a89c02ac-86c6-40ad-b807-e99bbbf9ed92",
      "name": "Neutral Feedback Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Nu0boBbF5KmAuk96",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4",
          "mode": "list",
          "cachedResultName": "Student Feedback Sentiment Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Form Submission').item.json.Name || $('Form Submission').item.json.name }}",
            "email": "={{ $('Form Submission').item.json.Email || $('Form Submission').item.json.email }}",
            "feedback": "={{ $('Form Submission').item.json.Feedback || $('Form Submission').item.json.feedback }}",
            "sentiment": "Negative",
            "submitted_at": "={{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}",
            "dedupe_key": "={{ ($('Form Submission').item.json.Email || $('Form Submission').item.json.email).toLowerCase().trim() + '_' + ($('Form Submission').item.json.Feedback || $('Form Submission').item.json.feedback).toLowerCase().trim() }}"
          },
          "matchingColumns": [
            "dedupe_key"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        64
      ],
      "id": "0d9d4713-ad1c-42be-b454-5d1d82ac1a70",
      "name": "Negative Feedback Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Nu0boBbF5KmAuk96",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4",
          "mode": "list",
          "cachedResultName": "Student Feedback Sentiment Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -128
      ],
      "id": "20c57ff1-5638-4b69-8564-ca3fba43ff13",
      "name": "Get All Feedback",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Nu0boBbF5KmAuk96",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst positive = [];\nconst neutral = [];\nconst negative = [];\n\nfor (const row of rows) {\n  const feedback = row.json.feedback;\n  const sentiment = String(row.json.sentiment || '').toLowerCase().trim();\n\n  if (sentiment === 'positive') {\n    positive.push(feedback);\n  } else if (sentiment === 'neutral') {\n    neutral.push(feedback);\n  } else if (sentiment === 'negative') {\n    negative.push(feedback);\n  }\n}\n\nreturn [\n  {\n    json: {\n      positive_count: positive.length,\n      positive_feedback: positive,\n      neutral_count: neutral.length,\n      neutral_feedback: neutral,\n      negative_count: negative.length,\n      negative_feedback: negative,\n      aggregated_at: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -128
      ],
      "id": "38f92b3d-ec04-4090-b14a-2621fbae7a6e",
      "name": "Aggregate Feedback"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4",
          "mode": "list",
          "cachedResultName": "Student Feedback Sentiment Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1353009385,
          "mode": "list",
          "cachedResultName": "Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KlOXd4e4RoNoDCja30joWe_7GKtXZVlZCzCYqTLRtJ4/edit#gid=1353009385"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "aggregated_at": "={{ $('Aggregate Feedback').item.json.aggregated_at }}",
            "positive_count": "={{ $('Aggregate Feedback').item.json.positive_count }}",
            "neutral_count": "={{ $('Aggregate Feedback').item.json.neutral_count }}",
            "negative_count": "={{ $('Aggregate Feedback').item.json.negative_count }}",
            "ai_summary": "={{ $('Open AI Powered Summary').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "aggregated_at",
              "displayName": "aggregated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "positive_count",
              "displayName": "positive_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "neutral_count",
              "displayName": "neutral_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "negative_count",
              "displayName": "negative_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1776,
        -128
      ],
      "id": "adb86bf0-4f61-49f8-8243-67148b0bc10a",
      "name": "Store AI Summary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Nu0boBbF5KmAuk96",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Student Feedback Form",
        "formDescription": "Please share your feedback about your learning experience.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Feedback"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        -128
      ],
      "id": "768a29a2-cdf1-4cef-8c80-d8ba973f63c3",
      "name": "Form Submission",
      "webhookId": "9a55edf2-a854-4e36-99d7-21fd4d3bbfd7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following student feedback and classify its sentiment.\n\nReturn only one word:\nPositive\nNeutral\nNegative\n\nFeedback: {{ $json.Feedback }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        -128
      ],
      "id": "aaeb8415-2375-4d13-aa7b-c06401fcd032",
      "name": "AI Sentiment Classification",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        64
      ],
      "id": "a59cc369-bf5d-41de-8469-a9ec515a9825",
      "name": "Gemini Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MfTSfTwk492rjkgO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer feedback analyst.\n\nAnalyze the aggregated customer feedback below.\n\nPositive Feedback Count: {{ $json.positive_count }}\nPositive Feedback:\n{{ $json.positive_feedback.join('\\n') }}\n\nNeutral Feedback Count: {{ $json.neutral_count }}\nNeutral Feedback:\n{{ $json.neutral_feedback.join('\\n') }}\n\nNegative Feedback Count: {{ $json.negative_count }}\nNegative Feedback:\n{{ $json.negative_feedback.join('\\n') }}\n\nGenerate the following:\n\n1. Positive Feedback Summary\n- Summarize the common positive themes in 3-5 sentences.\n\n2. Neutral Feedback Summary\n- Summarize the common neutral observations in 3-5 sentences.\n- If there is no neutral feedback, write \"No neutral feedback received.\"\n\n3. Negative Feedback Summary\n- Summarize the common complaints in 3-5 sentences.\n- If there is no negative feedback, write \"No negative feedback received.\"\n\nFinally provide:\n\nOverall Statistics\n- Positive: <count>\n- Neutral: <count>\n- Negative: <count>\n\nKeep the summaries concise, professional, and easy to understand.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1424,
        -128
      ],
      "id": "ad5dba86-0eb6-4bb8-bea7-d0a30d4cfc48",
      "name": "Open AI Powered Summary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1424,
        112
      ],
      "id": "b73dd1a0-825f-40cf-b824-b866f4da066c",
      "name": "OpenAI  Model",
      "credentials": {
        "openAiApi": {
          "id": "2nqXbCXUtAGNcoQe",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Positive Feedback Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neutral Feedback Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Negative Feedback Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neutral Feedback Sheet": {
      "main": [
        [
          {
            "node": "Get All Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Feedback": {
      "main": [
        [
          {
            "node": "Aggregate Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Positive Feedback Sheet": {
      "main": [
        [
          {
            "node": "Get All Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Negative Feedback Sheet": {
      "main": [
        [
          {
            "node": "Get All Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Feedback": {
      "main": [
        [
          {
            "node": "Open AI Powered Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Submission": {
      "main": [
        [
          {
            "node": "AI Sentiment Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Sentiment Classification": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sentiment Classification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Open AI Powered Summary": {
      "main": [
        [
          {
            "node": "Store AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI  Model": {
      "ai_languageModel": [
        [
          {
            "node": "Open AI Powered Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "21732c8e-8e7e-4cd0-beb3-39bc647d1fd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db741dd97ed59a69a1ba404818e230ddc5dcfaa0f23bc3f8bdd87a3ec9b237fd"
  },
  "nodeGroups": [],
  "id": "pze8aEPYSHS2haOD",
  "tags": []
}